<a asp-controller="TShirt" asp-action="Create">Data annotations</a>
<br />
<a asp-action="CustomValidators">CustomValidators</a>
<br />
<a asp-action="ValidatableObject">ValidatableObject</a>
<br />
<a asp-action="RemoteValidation">RemoteValidation</a>
<br />
<a asp-action="FluentValidation">FluentValidation</a>
